In [168]:
import pandas as pd

In [173]:
df = pd.read_csv('processed_data.csv')
print(df.columns)

Index(['Unnamed: 0', 'Anon Student Id', 'Problem Name', 'Step Name', 'Outcome',
       'KC (WPI-Apr-2005)', 'Step Num'],
      dtype='object')

In [174]:
df = df.drop(columns=['Unnamed: 0', 'Step Name', 'Step Num', 'Problem Name'])

In [175]:
df.columns = ['user_id', 'skill_id', 'correct']
df2['user'] = df['Anon Student Id']
df2['item'] = df['Problem Name']
df2['skill'] = df['KC (WPI-Apr-2005)']
df2['correct'] = df['Outcome']

        Anon Student Id  Outcome  KC (WPI-Apr-2005)
0                     1        0                  1
1                     1        0                  1
2                     1        1                  2
3                     1        1                  2
4                     1        0                  2
...                 ...      ...                ...
323383             2833        1                 36
323384             2833        0                 36
323385             2833        0                 36
323386             2833        0                 36
323387             2833        1                 25

[323388 rows x 3 columns]