# Pre process data for use with AKT

In [1]:
import pandas as pd
import json
import numpy as np
from sklearn.model_selection import KFold, train_test_split
from random import shuffle

In [2]:
df = pd.read_csv('processed_data.csv')
print(df.columns)

Index(['Unnamed: 0', 'Anon Student Id', 'Problem Name', 'Step Name', 'Outcome',
       'KC (WPI-Apr-2005)', 'Step Num'],
      dtype='object')

In [3]:
len(df['KC (WPI-Apr-2005)'].unique())

85

In [4]:
# df = df.drop(columns=['Unnamed: 0','Step Name','Step Num'])
df = df.drop(columns=['Unnamed: 0','Step Name','Problem Name'])
df.columns = ['Anon Student Id', 'Outcome', 'KC (WPI-Apr-2005)', 'Problem Name']

In [13]:
df

        Anon Student Id  Outcome  KC (WPI-Apr-2005)  Problem Name
0                     1        0                  1             1
1                     1        0                  1             1
2                     1        1                  2             2
3                     1        1                  2             2
4                     1        0                  2             2
...                 ...      ...                ...           ...
323383             2833        1                 36           593
323384             2833        0                 36           594
323385             2833        0                 36           595
323386             2833        0                 36           596
323387             2833        1                 25           849

[323388 rows x 4 columns]

## Split the data into training and testing sets.

#### First we need put the data into the correct format. We need to get all the problems and outcomes for each student and put them on 3 seperate lines in a comma seperated list.
number of problems attempted

problems

outcomes

#### Each student will take up 3 lines

In [5]:
f = open('dktplus_processed_data.csv', "w")
students = df['Anon Student Id'].unique().tolist()
shuffle(students)

for i, student in enumerate(students):
    studentDf = df.loc[df['Anon Student Id'] == student]
    print(studentDf)
    break
    # problem
    temp = studentDf['Problem Name']
    temp = [str(element) for element in temp]
    temp = ','.join(temp)
    f.write(temp + '\n')
    # outcome
    temp = studentDf['Outcome']
    temp = [str(element) for element in temp]
    temp = ','.join(temp)
    f.write(temp + '\n')

f.close()

        Anon Student Id  Outcome  KC (WPI-Apr-2005)  Problem Name
160641             1350        1                 64           349
160642             1350        0                 64           349
160643             1350        0                 64           350
160644             1350        0                 64           351
160645             1350        1                  7           132
160646             1350        0                  7           133
160647             1350        1                 45           134
160648             1350        1                 45           134
160649             1350        0                 45           134
160650             1350        0                 45           135
160651             1350        1                 23            66
160652             1350        1                 23           100
160653             1350        1                 23           100
160654             1350        1                 23           100
160655             1350        0                 23           100
160656             1350        1                 23           101
160657             1350        1                 23           101
160658             1350        1                 23           101
160659             1350        1                 23           101
160660             1350        0                 23           101
160661             1350        0                 23           102
160662             1350        1                 52           232
160663             1350        0                 52           233
160664             1350        0                 52           234
160665             1350        1                 52           235
160666             1350        1                 52           235
160667             1350        1                  2           544
160668             1350        0                  2           545
160669             1350        0                  2           546
160670             1350        1                  2           547
160671             1350        1                  2           547
160672             1350        0                  2           547
160673             1350        0                  2           548
160674             1350        1                 20           650