In [1]:
import pandas as pd

df = pd.read_csv('processed_data.csv')

df

,Unnamed: 0,Anon Student Id,Problem Name,Step Name,Outcome,KC (WPI-Apr-2005),Step Num
0,9,1,1,Step0:1298:Lee correctly answered 11 out of 13...,0,1,1
1,10,1,1,Step0:1298:Lee correctly answered 11 out of 13...,0,1,1
2,13,1,2,"Step0:5738:On the grid above, the distance bet...",1,2,2
3,14,1,2,"Step0:5738:On the grid above, the distance bet...",1,2,2
4,15,1,2,"Step0:5738:On the grid above, the distance bet...",0,2,2
...,...,...,...,...,...,...,...
323383,685610,2833,214,Step0:1229:Kathy rode her bicycle from her hou...,1,36,593
323384,685611,2833,214,"Step1:1230:First, let's determine what the gra...",0,36,594
323385,685612,2833,214,"Step2:1231:Good, now what does a steeper line ...",0,36,595
323386,685613,2833,214,"Step3:1232:Now, Kathy traveled faster on a lev...",0,36,596
323387,685614,2833,259,Step0:1477:Compute 1/3 x 11/2 SYSTEM,1,25,849

In [2]:
df.columns

Index(['Unnamed: 0', 'Anon Student Id', 'Problem Name', 'Step Name', 'Outcome',
       'KC (WPI-Apr-2005)', 'Step Num'],
      dtype='object')

In [3]:
df = df.drop(columns=['Unnamed: 0', 'Step Name', 'Step Num'])

In [6]:
df2 = pd.DataFrame()
df2['user'] = df['Anon Student Id']
df2['item'] = df['Problem Name']
df2['skill'] = df['KC (WPI-Apr-2005)']
df2['correct'] = df['Outcome']

In [9]:
df2.to_csv('sakt_processed_data.csv')