# Pre process data for use with DKT+

In [1]:
import pandas as pd
import json
import numpy as np
from sklearn.model_selection import KFold, train_test_split
from random import shuffle

In [2]:
df = pd.read_csv('processed_data.csv')
print(df.columns)

Index(['Unnamed: 0', 'Anon Student Id', 'Problem Name', 'Step Name', 'Outcome',
       'KC (WPI-Apr-2005)', 'Step Num'],
      dtype='object')

In [3]:
len(df['KC (WPI-Apr-2005)'].unique())

85

In [4]:
# df = df.drop(columns=['Unnamed: 0','Step Name','Step Num'])
df = df.drop(columns=['Unnamed: 0','Step Name','Problem Name'])
df.columns = ['Anon Student Id', 'Outcome', 'KC (WPI-Apr-2005)', 'Problem Name']

In [5]:
df

        Anon Student Id  Outcome  KC (WPI-Apr-2005)  Problem Name
0                     1        0                  1             1
1                     1        0                  1             1
2                     1        1                  2             2
3                     1        1                  2             2
4                     1        0                  2             2
...                 ...      ...                ...           ...
323383             2833        1                 36           593
323384             2833        0                 36           594
323385             2833        0                 36           595
323386             2833        0                 36           596
323387             2833        1                 25           849

[323388 rows x 4 columns]

## Split the data into training and testing sets.

#### First we need put the data into the correct format. We need to get all the problems and outcomes for each student and put them on 3 seperate lines in a comma seperated list.
number of problems attempted

problems

outcomes

#### Each student will take up 3 lines

In [6]:
f = open('dktplus_processed_data.csv', "w")
students = df['Anon Student Id'].unique().tolist()
# shuffle(students)

for i, student in enumerate(students):
    studentDf = df.loc[df['Anon Student Id'] == student]
    f.write(str(len(studentDf)) + '\n')
    # problem
    temp = studentDf['Problem Name']
    temp = [str(element) for element in temp]
    temp = ','.join(temp)
    f.write(temp + '\n')
    # outcome
    temp = studentDf['Outcome']
    temp = [str(element) for element in temp]
    temp = ','.join(temp)
    f.write(temp + '\n')

f.close()

# split into train/test

In [7]:
f = open('dktplus_processed_data.csv', 'r')

for i in range(2833):
    if i == 0:
        f2 = open('dktplus_processed_data_train.csv', 'w')
    elif i == 1984:
        f2.close()
        f2 = open('dktplus_processed_data_test.csv', 'w')
    f2.write(f.readline())
    f2.write(f.readline())
    f2.write(f.readline())

f2.close()
f.close()