# Pre processing dataset for all models

In [21]:
import pandas as pd

df = pd.read_csv('data.csv')

print(df.columns)

c:\users\marsh\appdata\local\programs\python\python38\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (61,63,65) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Index(['Row', 'Sample Name', 'Transaction Id', 'Anon Student Id', 'Session Id',
       'Time', 'Time Zone', 'Duration (sec)', 'Student Response Type',
       'Student Response Subtype', 'Tutor Response Type',
       'Tutor Response Subtype', 'Level (Curriculum)', 'Problem Name',
       'Problem View', 'Problem Start Time', 'Step Name', 'Attempt At Step',
       'Is Last Attempt', 'Outcome', 'Selection', 'Action', 'Input',
       'Feedback Text', 'Feedback Classification', 'Help Level',
       'Total Num Hints', 'KC (WPI-Apr-2005)', 'KC Category (WPI-Apr-2005)',
       'KC (WPI-Apr-2005)_1', 'KC Category (WPI-Apr-2005)_2',
       'KC (WPI-Apr-2005)_3', 'KC Category (WPI-Apr-2005)_4',
       'KC (WPI-Apr-2005)_5', 'KC Category (WPI-Apr-2005)_6',
       'KC (WPI-Apr-2005)_7', 'KC Category (WPI-Apr-2005)_8',
       'KC (WPI-Apr-2005)_9', 'KC Category (WPI-Apr-2005)_10',
       'KC (skills_from_dataframe)', 'KC Category (skills_from_dataframe)',
       'KC (skills_from_dataframe)_11',
       'KC Category (skills_from_dataframe)_12',
       'KC (skills_from_dataframe)_13',
       'KC Category (skills_from_dataframe)_14',
       'KC (skills_from_dataframe)_15',
       'KC Category (skills_from_dataframe)_16',
       'KC (skills_from_dataframe)_17',
       'KC Category (skills_from_dataframe)_18',
       'KC (skills_from_dataframe)_19',
       'KC Category (skills_from_dataframe)_20',
       'KC (MCAS39-State_WPI-Simple)', 'KC Category (MCAS39-State_WPI-Simple)',
       'KC (MCAS39-State_WPI-Simple)_21',
       'KC Category (MCAS39-State_WPI-Simple)_22',
       'KC (MCAS39-State_WPI-Simple)_23',
       'KC Category (MCAS39-State_WPI-Simple)_24',
       'KC (MCAS39-State_WPI-Simple)_25',
       'KC Category (MCAS39-State_WPI-Simple)_26',
       'KC (MCAS5-State_WPI-Simple)', 'KC Category (MCAS5-State_WPI-Simple)',
       'KC (MCAS5-State_WPI-Simple)_27',
       'KC Category (MCAS5-State_WPI-Simple)_28',
       'KC (MCAS5-State_WPI-Simple)_29',
       'KC Category (MCAS5-State_WPI-Simple)_30',
       'KC (MCAS5-State_WPI-Simple)_31',
       'KC Category (MCAS5-State_WPI-Simple)_32', 'KC (Single-KC)',
       'KC Category (Single-KC)', 'KC (Unique-step)',
       'KC Category (Unique-step)', 'School', 'Class'],
      dtype='object')

In [22]:
len(df)

685615

## Number of nulls in each column

In [23]:
pd.options.display.max_rows = 100
df.isnull().sum()

Row                                              0
Sample Name                                      0
Transaction Id                                   0
Anon Student Id                                  0
Session Id                                       0
Time                                             0
Time Zone                                        0
Duration (sec)                                1087
Student Response Type                            0
Student Response Subtype                    685615
Tutor Response Type                            350
Tutor Response Subtype                      685615
Level (Curriculum)                               0
Problem Name                                     0
Problem View                                   293
Problem Start Time                             293
Step Name                                      350
Attempt At Step                                350
Is Last Attempt                                350
Outcome                                        350
Selection                                        0
Action                                           0
Input                                       194618
Feedback Text                               318146
Feedback Classification                     491466
Help Level                                  491466
Total Num Hints                             685615
KC (WPI-Apr-2005)                           228793
KC Category (WPI-Apr-2005)                  685615
KC (WPI-Apr-2005)_1                         642000
KC Category (WPI-Apr-2005)_2                685615
KC (WPI-Apr-2005)_3                         677117
KC Category (WPI-Apr-2005)_4                685615
KC (WPI-Apr-2005)_5                         684876
KC Category (WPI-Apr-2005)_6                685615
KC (WPI-Apr-2005)_7                         685199
KC Category (WPI-Apr-2005)_8                685615
KC (WPI-Apr-2005)_9                         685199
KC Category (WPI-Apr-2005)_10               685615
KC (skills_from_dataframe)                  299403
KC Category (skills_from_dataframe)         685615
KC (skills_from_dataframe)_11               645959
KC Category (skills_from_dataframe)_12      685615
KC (skills_from_dataframe)_13               677481
KC Category (skills_from_dataframe)_14      685615
KC (skills_from_dataframe)_15               684876
KC Category (skills_from_dataframe)_16      685615
KC (skills_from_dataframe)_17               685199
KC Category (skills_from_dataframe)_18      685615
KC (skills_from_dataframe)_19               685199
KC Category (skills_from_dataframe)_20      685615
KC (MCAS39-State_WPI-Simple)                405154
KC Category (MCAS39-State_WPI-Simple)       685615
KC (MCAS39-State_WPI-Simple)_21             634029
KC Category (MCAS39-State_WPI-Simple)_22    685615
KC (MCAS39-State_WPI-Simple)_23             677286
KC Category (MCAS39-State_WPI-Simple)_24    685615
KC (MCAS39-State_WPI-Simple)_25             684081
KC Category (MCAS39-State_WPI-Simple)_26    685615
KC (MCAS5-State_WPI-Simple)                 296366
KC Category (MCAS5-State_WPI-Simple)        685615
KC (MCAS5-State_WPI-Simple)_27              683756
KC Category (MCAS5-State_WPI-Simple)_28     685615
KC (MCAS5-State_WPI-Simple)_29              685292
KC Category (MCAS5-State_WPI-Simple)_30     685615
KC (MCAS5-State_WPI-Simple)_31              685292
KC Category (MCAS5-State_WPI-Simple)_32     685615
KC (Single-KC)                                 350
KC Category (Single-KC)                     685615
KC (Unique-step)                            536216
KC Category (Unique-step)                   685615
School                                           0
Class                                            0
dtype: int64

'Anon Student Id','Problem Name',
'Student Response Type', 'Tutor Response Type',
'Step Name','Outcome',

KC (MCAS5-State_WPI-Simple)                 296366

KC (skills_from_dataframe)                  299403

KC (WPI-Apr-2005)                           228793

## Selecting only the columns we need

In [24]:
df = df[['Anon Student Id','Problem Name','Step Name','Outcome','KC (WPI-Apr-2005)']]

## Selecting only the data that were attempts. i.e. select the rows with outcome equal to "correct" or "incorrect"

In [25]:
df['Outcome'].unique()

array(['HINT', 'INCORRECT', 'CORRECT', nan], dtype=object)

In [26]:
df = df.loc[(df['Outcome'] == 'CORRECT') | (df['Outcome'] == 'INCORRECT')]

In [27]:
df

,Anon Student Id,Problem Name,Step Name,Outcome,KC (WPI-Apr-2005)
2,Stu_0012ae7d5d1993619f0bad91630b7c79,8788,Step1:8792:What is the measure of angle 2? SYSTEM,INCORRECT,NaN
3,Stu_0012ae7d5d1993619f0bad91630b7c79,8635,Step0:8635:Jacqueline is a runner who hopes to...,CORRECT,NaN
6,Stu_00176143fc2991346939888160a9b1ce,7674,Step1:7675:Which decimal is closest to the fra...,CORRECT,NaN
7,Stu_00176143fc2991346939888160a9b1ce,7674,Step2:7673:26/51 is approximately 0.5 What per...,INCORRECT,NaN
8,Stu_00176143fc2991346939888160a9b1ce,7674,Step2:7673:26/51 is approximately 0.5 What per...,CORRECT,NaN
...,...,...,...,...,...
685610,Stu_fff5c8fc1e1e08cfd72a0e5122b547d4,1229,Step0:1229:Kathy rode her bicycle from her hou...,INCORRECT,Graph-Shape
685611,Stu_fff5c8fc1e1e08cfd72a0e5122b547d4,1229,"Step1:1230:First, let's determine what the gra...",CORRECT,Graph-Shape
685612,Stu_fff5c8fc1e1e08cfd72a0e5122b547d4,1229,"Step2:1231:Good, now what does a steeper line ...",CORRECT,Graph-Shape
685613,Stu_fff5c8fc1e1e08cfd72a0e5122b547d4,1229,"Step3:1232:Now, Kathy traveled faster on a lev...",CORRECT,Graph-Shape
685614,Stu_fff5c8fc1e1e08cfd72a0e5122b547d4,1477,Step0:1477:Compute 1/3 x 11/2 SYSTEM,INCORRECT,Equivalent-Fractions-Decimals-Percents

## Drop nulls

In [28]:
df.dropna(inplace=True)

In [29]:
df

,Anon Student Id,Problem Name,Step Name,Outcome,KC (WPI-Apr-2005)
9,Stu_00176143fc2991346939888160a9b1ce,1298,Step0:1298:Lee correctly answered 11 out of 13...,CORRECT,Finding-Percents
10,Stu_00176143fc2991346939888160a9b1ce,1298,Step0:1298:Lee correctly answered 11 out of 13...,CORRECT,Finding-Percents
13,Stu_00176143fc2991346939888160a9b1ce,5738,"Step0:5738:On the grid above, the distance bet...",INCORRECT,Pythagorean-theorem
14,Stu_00176143fc2991346939888160a9b1ce,5738,"Step0:5738:On the grid above, the distance bet...",INCORRECT,Pythagorean-theorem
15,Stu_00176143fc2991346939888160a9b1ce,5738,"Step0:5738:On the grid above, the distance bet...",CORRECT,Pythagorean-theorem
...,...,...,...,...,...
685610,Stu_fff5c8fc1e1e08cfd72a0e5122b547d4,1229,Step0:1229:Kathy rode her bicycle from her hou...,INCORRECT,Graph-Shape
685611,Stu_fff5c8fc1e1e08cfd72a0e5122b547d4,1229,"Step1:1230:First, let's determine what the gra...",CORRECT,Graph-Shape
685612,Stu_fff5c8fc1e1e08cfd72a0e5122b547d4,1229,"Step2:1231:Good, now what does a steeper line ...",CORRECT,Graph-Shape
685613,Stu_fff5c8fc1e1e08cfd72a0e5122b547d4,1229,"Step3:1232:Now, Kathy traveled faster on a lev...",CORRECT,Graph-Shape
685614,Stu_fff5c8fc1e1e08cfd72a0e5122b547d4,1477,Step0:1477:Compute 1/3 x 11/2 SYSTEM,INCORRECT,Equivalent-Fractions-Decimals-Percents

In [30]:
len(df)

323388

## Get the unique step number for each problem name.
Explanation: There are multiple steps to each problem name, so we can assign a unique value to each step and this can give us more problems to work with

In [31]:
stepnum = []
for index, row in df.iterrows():
    start = row['Step Name'].find(':') + 1
    end = row['Step Name'].find(':', start)
    stepnum.append(int(row['Step Name'][start:end]))
df['Step Num'] = stepnum

In [32]:
len(df['Step Num'].unique())

1187

## Give each categorical variable a unique number starting at 1.

In [33]:
temp = df['Step Num'].unique().tolist()
df['Step Num'] = [(temp.index(item)+1) for item in df['Step Num']]

In [34]:
temp = df['Anon Student Id'].unique().tolist()
df['Anon Student Id'] = [(temp.index(item)+1) for item in df['Anon Student Id']]

In [35]:
temp = df['Problem Name'].unique().tolist()
df['Problem Name'] = [(temp.index(item)+1) for item in df['Problem Name']]

In [36]:
temp = df['Outcome'].unique().tolist()
df['Outcome'] = [temp.index(item) for item in df['Outcome']]

In [37]:
temp = df['KC (WPI-Apr-2005)'].unique().tolist()
df['KC (WPI-Apr-2005)'] = [(temp.index(item)+1) for item in df['KC (WPI-Apr-2005)']]

## Save

In [38]:
df.to_csv('processed_data.csv')

In [39]:
df

,Anon Student Id,Problem Name,Step Name,Outcome,KC (WPI-Apr-2005),Step Num
9,1,1,Step0:1298:Lee correctly answered 11 out of 13...,0,1,1
10,1,1,Step0:1298:Lee correctly answered 11 out of 13...,0,1,1
13,1,2,"Step0:5738:On the grid above, the distance bet...",1,2,2
14,1,2,"Step0:5738:On the grid above, the distance bet...",1,2,2
15,1,2,"Step0:5738:On the grid above, the distance bet...",0,2,2
...,...,...,...,...,...,...
685610,2833,214,Step0:1229:Kathy rode her bicycle from her hou...,1,36,593
685611,2833,214,"Step1:1230:First, let's determine what the gra...",0,36,594
685612,2833,214,"Step2:1231:Good, now what does a steeper line ...",0,36,595
685613,2833,214,"Step3:1232:Now, Kathy traveled faster on a lev...",0,36,596
685614,2833,259,Step0:1477:Compute 1/3 x 11/2 SYSTEM,1,25,849

In [40]:
len(df)

323388